body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Helvetica;
}

#iphone {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 640px;
  background-color: black;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 360px;
  height: calc(640px - 5px*((2160 / 29) + (360 / 29)));
  color: white;
  font-size: 72px;
  margin-left: -20px;
}

#button-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 32px;
}

#button-container div {
  width: calc((2160px / 29) + (360px / 29));
  height: calc((2160px / 29) + (360px / 29));
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-container .left-button,
#button-container .right-button {
 width: calc((2160px / 29) + (540px / 29));
 justify-content: flex-start;
}

#button-container .left-button .circle {
  margin-left: calc(360px / 29);
}

#button-container .right-button .circle {
  margin-left: calc(180px / 29);
}

#button-container .bottom-button {
  height: calc((2160px / 29) + (540px / 29));
  align-items: flex-start;
}

#button-container .bottom-button .circle {
  margin-top: calc(180px / 29);
}

#button-container div .circle{
  width: calc((2160px / 29));
  height: calc((2160px / 29));
  border-top-left-radius: calc(1080px / 29);
  border-bottom-left-radius: calc(1080px / 29);
  border-top-right-radius: calc(1080px / 29);
  border-bottom-right-radius: calc(1080px / 29);
}

#button-container #zero {
  width: calc(2*(2160px / 29) + 2.5*(360px / 29));
}

#button-container #zero .circle {
  display: flex;
  justify-content: flex-start;
  width: calc(2*(2160px / 29) + (360px / 29));
}

.circle p {
  padding-left: 26.5px;
}

.special {
  background-color: rgb(165, 165, 165);
  color: black;
}

.operand {
  background-color: rgb(51, 51, 51);
  color: white;
}

.operator {
  background-color: rgb(254, 159, 10);
  color: white;
}